<div class="container">
    <div class="cards">
        <app-card-interest textTitle="Interest one" textParagraph="text one" > </app-card-interest>
    </div>
    <div class="cards">
        <app-card-interest textTitle="Interest two" textParagraph="text two"> </app-card-interest>
    </div>
    <div class="cards">
        <app-card-interest textTitle="Interest three" textParagraph="text three"> </app-card-interest>
    </div>
    <div class="cards">
        <app-card-interest textTitle="Interest four" textParagraph="text four"> </app-card-interest>
    </div>
    <div class="cards">
        <app-card-interest textTitle="Interest six" textParagraph="text six"> </app-card-interest>
    </div>
    <div class="cards">
        <app-card-interest textTitle="Interest seven" textParagraph="text seven"> </app-card-interest>
    </div>
</div>

